@if(users.length > 0) {
<div style="width: 400px; max-height: 200px; padding: 10px; overflow: auto">
  <h4 style="text-align: center; font-weight: bold">Search Result</h4>
  <mat-list>
    @for (user of users; track user) {
    <mat-list-item class="suggestion-list-item">
      <img
        style="cursor: pointer"
        matListItemAvatar
        src="{{ user.profile_pic_url }}"
        (click)="this.profile.goToProfile(user.id)"
        mat-dialog-close
      />
      <span matListItemTitle>{{ user.first_name }} {{ user.last_name }}</span>
      <span matListItemLine>
        {{ user.email }}
      </span>
      <button
        mat-raised-button
        color="primary"
        (click)="sendFriendRequest(user)"
      >
        Add
      </button>
    </mat-list-item>
    }
  </mat-list>
</div>
} @else {
<div class="mat-elevation-z8" #noResults>
  <p>No results...</p>
</div>
}
