<div style="padding: 10px">
  <mat-card class="profile-card">
    <mat-card-header>
      <div
        mat-card-avatar
        style="background-image: url({{
          profile.profile_pic_url
        }}); background-size: cover"
      ></div>
      <mat-card-title>{{ profile.first_name }}</mat-card-title>
      <mat-card-subtitle>{{ profile.email }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <h2>Friends</h2>
  <mat-list>
    @for (friend of friends; track friend) {
    <mat-list-item>
      <img
        matListItemAvatar
        src="{{ friend.profile_pic_url }}"
        (click)="this.profileService.goToProfile(friend.friend_id)"
      />
      <h3 matListItemTitle>{{ friend.first_name }} {{ friend.last_name }}</h3>
      <p matListItemLine>
        <span>{{ friend.email }}</span>
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    }
  </mat-list>
</div>
