<div class="create-event-container">
  <div class="event-title-container">
    <div class="dialog-header">
      <mat-icon>event</mat-icon>
      <h2>Create Event</h2>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Event Title</mat-label>
      <input
        matInput
        placeholder="Finish DB Project 3"
        [formControl]="eventTitle"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <div class="dialog-header">
      <mat-icon>palette</mat-icon>
      <h2>Event Color</h2>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Event Color</mat-label>
      <mat-select [formControl]="selectedColor">
        @for (color of eventColors; track color) {
        <mat-option [value]="color.value"
          >{{ color.viewValue }}
          <mat-icon style="color: {{ color.value }}; font-size: 15px"
            >circle</mat-icon
          >
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="schedule-container">
    <div class="dialog-header">
      <mat-icon>schedule</mat-icon>
      <h2>Schedule</h2>
    </div>
    <div class="datepicker-container">
      <mat-form-field>
        <mat-label>Start Date</mat-label>
        <input
          matInput
          [matDatepicker]="startDatepicker"
          [formControl]="startDate"
          required
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="startDatepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDatepicker> </mat-datepicker>
      </mat-form-field>
      @if (!allDay) {
      <mat-form-field>
        <mat-label>Start Time</mat-label>
        <input
          matInput
          [ngxMatTimepicker]="startTimepicker"
          [format]="24"
          [formControl]="startTime"
        />
        <ngx-mat-timepicker-toggle
          matSuffix
          [for]="startTimepicker"
        ></ngx-mat-timepicker-toggle>
        <ngx-mat-timepicker #startTimepicker></ngx-mat-timepicker>
        <mat-hint>23:59:00</mat-hint>
      </mat-form-field>
      }
      <mat-form-field>
        <mat-label>End Date</mat-label>
        <input
          matInput
          [matDatepicker]="endDatepicker"
          [formControl]="endDate"
          required
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="endDatepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDatepicker></mat-datepicker>
      </mat-form-field>
      @if(!allDay) {
      <mat-form-field>
        <mat-label>End Time</mat-label>
        <input
          matInput
          [ngxMatTimepicker]="endTimepicker"
          [format]="24"
          [formControl]="endTime"
        />
        <ngx-mat-timepicker-toggle
          matSuffix
          [for]="endTimepicker"
        ></ngx-mat-timepicker-toggle>
        <ngx-mat-timepicker #endTimepicker></ngx-mat-timepicker>
        <mat-hint>23:59:00</mat-hint>
      </mat-form-field>
      }
    </div>
    <div>
      <mat-checkbox [(ngModel)]="allDay">All Day</mat-checkbox>
    </div>
    <div class="schedule-option-container">
      <mat-form-field>
        <mat-label>Repeat</mat-label>
        <mat-select [formControl]="repeatOption">
          @for (option of repeatOptions; track option) {
          <mat-option [value]="option.value">{{ option.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="add-friends-container">
    <div class="dialog-header">
      <mat-icon>group_add</mat-icon>
      <h2>Add Friends</h2>
    </div>
    <div class="search-friend">
      <mat-form-field>
        <input
          matInput
          placeholder="Search for friends"
          [formControl]="searchFriendInput"
        />
      </mat-form-field>
      <button mat-mini-fab color="primary" (click)="searchFriend()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div class="selected-friends-list">
      @for (selected of selectedFriends; track selected) {
      <p>{{ selected.first_name }} {{ selected.last_name }}</p>
      }
    </div>
    <mat-selection-list #friendsSelected (selectionChange)="selected($event)">
      @for (friend of friends; track friend) {
      <mat-list-option class="friend-row" [value]="friend">
        <div class="friend-info">
          <mat-icon>person</mat-icon>
          <div class="friend-name">
            {{ friend.first_name }} {{ friend.last_name }}
          </div>
        </div>
      </mat-list-option>
      }
    </mat-selection-list>
  </div>
  <mat-dialog-actions>
    <button
      [disabled]="eventTitle.invalid"
      mat-dialog-close
      mat-raised-button
      color="primary"
      (click)="createEvent()"
    >
      Create
    </button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
  @if (spinner.visibility) {
  <mat-spinner [diameter]="50"></mat-spinner>
  }
</div>
