h4 {
  padding: 10px 0 0 0;
  text-align: center;
  font-weight: bold;
}

.search-friend-bar {
  padding: 10px;
  text-align: center;
  item-align: center;
  cursor: pointer;
}

.search-input {
  display: flex;
  flex-direction: row;
}

.search-input input {
  flex: 2 100%;
}
.search-input mat-icon {
  flex: 1;
}

.friend-table {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: space-around;
}

.mat-elevation-z2 {
  margin-top: 10px;
  width: 100%;
}

.action-row {
  display: flex;
  flex-direction: row;
}

.action-row button {
  width: 1em;
  margin: 0 5px;
}

.profile-card button {
  text-align: center;
  height: auto;
  width: auto;
  position: absolute;
  right: 0;
  margin-right: 30px;
}

.profile-card .mat-icon {
  align-items: center;
  padding: 5px;
}

mat-list {
  max-height: 20vh;
  overflow: auto;
}

.suggestion-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.suggestion-list-item button {
  height: auto;
  width: auto;
  margin-left: auto;
}
